@import "../../../node_modules/bulma/bulma.sass";
// @import "./css/style-modal-score/style-score.scss";
// @import "./css/loader.scss";

// ======MEDIA QUERIES========

$breakpoints: (
    phone-only: 599px,
    tablet-portrait-up: 600px,
    tablet-landscape-up: 900px,
    desktop-up-small: 1200px,
    desktop-up: 1400px,
    big-desktop-up: 1800px,
);

@mixin for-phone-only {
    @media (max-width: map-get($breakpoints, phone-only )) {
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (max-width: map-get($breakpoints, tablet-portrait-up )) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (max-width: map-get($breakpoints , tablet-landscape-up )) {
        @content;
    }
}
@mixin for-desktop-up-small {
    @media (max-width: map-get($breakpoints, desktop-up-small)) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (max-width: map-get($breakpoints, desktop-up)) {
        @content;
    }
}
@mixin for-big-desktop-up {
    @media (max-width: map-get($breakpoints, big-desktop-up )) {
        @content;
    }
}

// ======Mixins Kev========
@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

// ======VARIABLES========
$color-bg-modals: #ffffff;
$color-btn-modals: #15dea5;
$color-topbar: #15dea5;
$color-zoom-control: #15dea5;
$color-btn-nav: rgb(238, 192, 107);
$box-shabow: 0 0px 12px rgba(0, 0, 0, 0.472);
$box-shabow-hover: 0 0px 3px rgba(0, 0, 0, 0.15);
$radius-pill: 50rem;
$radius-circle: 50%;

// ======BUTTON========

.k-button {
    padding: 0.5rem 1rem;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: $radius-pill;
    color: white;
    font-weight: bold;
    cursor: pointer;
    &:hover {
    }
    &:focus {
    }
    &--modal {
        background-color: $color-btn-modals;
    }
    &--nav {
        background-color: $color-btn-nav;
    }
}

// ======SCOREBOARD========
.k-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.253);
    // opacity: 0;
    &__box {
        min-height: 32rem;
        min-width: 30rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        // background-color: $color-bg-modals !important;
        &--profile {
            overflow: unset;
        }
    }
    &__btnsGroup {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        gap: 1rem;
    }
}

.k-table {
    flex-grow: 1;
}

.k-leafIcon {
    @include box(1.6rem);
    background: center / contain no-repeat url("./svg/leaf-erable.svg");
    &--userScore {
        align-self: center;
        @include box(2.5rem);
        position: relative;
        right: 3rem;
        @include for-desktop-up-small {
        }
        @include for-tablet-landscape-up {
            @include box(1.8rem);
            right: 2rem;
        }
        @include for-phone-only() {
        }
    }
}

.k-treeIcon {
    @include box(1.6rem);
    background: center / contain no-repeat url("./svg/tree-k.svg");
    &--userScore {
        align-self: center;
        @include box(2.5rem);
        position: relative;
        right: 3rem;
        @include for-desktop-up-small {
        }
        @include for-tablet-landscape-up {
            @include box(1.8rem);
            right: 2rem;
        }
        @include for-phone-only {
        }
    }
}
.k-searchIcon {
    @include box(1rem);
    background: center / contain no-repeat url("./svg/search.svg");
}

.k-tableTitle {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

// ================== AVATAR =============== //

.k-avatar {
    display: flex;
    justify-content: center;
    margin: 2rem;
    &__content {
        @include box(10rem);
        border-radius: $radius-circle;
        box-shadow: $box-shabow;
    }
}

// ================== FORM PROFILE =============== //

.formProfile {
    &__buttonGroup {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        gap: 1rem;
    }
}

// ================== COLOR PICKER =============== //

.k-colorPicker {
    display: flex;
    gap: 1rem;
    &__selectedContainer {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: $box-shabow;
        border-radius: 4px;
        position: relative;
        padding: 5px;
        margin-bottom: 1.2rem;
    }
    &__select {
        width: 2.4rem;
        height: 2rem;
        &:hover {
            position: relative;
            z-index: 2;
            outline: 2px solid #fff;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
        }
    }
}

// ================== TOP BAR =============== //

.k-topbar {
    position: absolute;
    z-index: 10;
    display: flex;
    &__menu {
        font-size: 2.5rem;
        text-align: center;
    }
    &__hideMenu {
        position: fixed;
        z-index: 11;
        right: 0;
        top: 4rem;
        padding-top: 60px;
        width: 30rem;
        height: 20rem;
        background-color: $color-topbar;
        border-radius: 0px 0px 0px 40px;
        box-shadow: $box-shabow;
        @include for-desktop-up-small {
            width: 20rem;
        }
        @include for-tablet-landscape-up {
            width: 15rem;
        }
        @include for-phone-only() {
            border-radius: 0;
            width: 100vw;
        }
    }
    &__button {
        cursor: pointer;
        &--menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            z-index: 12;
            right: 0;
            font-size: 2.5rem;
            text-align: center;
            background-color: $color-topbar;
            width: 30rem;
            height: 4rem;
            border-radius: 0px 0px 0px 40px;
            @include for-desktop-up-small {
                width: 20rem;
            }
            @include for-tablet-landscape-up {
                width: 15rem;
            }
            @include for-phone-only {
                border-radius: 0;
                width: 100vw;
                justify-content: flex-end;
            }
        }
    }
    &__buttonLabel {
        &--menu {
            @include for-phone-only {
                text-align:right;
                margin-right: 1rem
            }
        }
    }
    &__userScore {
        display: flex;
        place-content: center;
        gap: 2rem;
        align-items: center;
        // justify-content: center;
        background-color: $color-topbar;
        width: 30rem;
        height: 4rem;
        border-radius: 0px 0px 40px 0px;
        box-shadow: $box-shabow;
        @include for-desktop-up-small {
            width: 20rem;
            gap: 1rem;
        }
        @include for-tablet-landscape-up {
            width: 15rem;
        }
        @include for-phone-only {
            width: 100vw;
            border-radius: 0;
            z-index: 13;
            background: none;
            justify-content: flex-start;
            gap: 0;
            padding-left: 1rem;
            width: fit-content;
            box-shadow: none;
        }
    }
    &__score {
        display: flex;
        align-items: center;
    }
    &__numberScore {
        display: flex;
        place-content: center;
        background-color: white;
        padding: 0.4rem 4rem 0.4rem 0.8rem;
        border-radius: $radius-pill;
        min-width: 6rem;
        font-size: 1.5rem;
        @include for-desktop-up-small {
            min-width: 4rem;
        }
        @include for-tablet-landscape-up {
            padding: 0.2rem 2rem 0.2rem 0.6rem;
            font-size: 1rem;
        }
        @include for-phone-only {
        }
    }
}

.leaflet-control-zoom {
    background: $color-zoom-control !important;
    position: relative !important;
    top: 8rem !important;
    border: none !important;
    box-shadow: $box-shabow !important;
}
.leaflet-bar a {
    background: $color-zoom-control !important;
    color: white !important;
    &:hover {
        background: lighten($color-zoom-control, 10) !important;
        color: rgb(255, 255, 255) !important;
        box-shadow: $box-shabow !important;
    }
}
