@import "../../../node_modules/bulma/bulma.sass";
// @import "./css/style-modal-score/style-score.scss";
// @import "./css/loader.scss";

// ======Mixins Kev========
@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

// ======VARIABLES========
$color-bg-modals: #ffffff;
$color-btn-modals: #15dea5;
$color-btn-nav: rgb(238, 192, 107);
$box-shabow: 0 3px 12px rgba(0, 0, 0, 0.15);
$radius-pill: 50rem;
$radius-circle: 50%;

// ======BUTTON========

.k-button {
    padding: 0.5rem 1rem;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: $radius-pill;
    color: white;
    font-weight: bold;
    cursor: pointer;
    &:hover{

    }
    &:focus{

    }
    &--modal {
        background-color: $color-btn-modals;
    }
    &--nav {
        background-color: $color-btn-nav;
    }
}

// ======SCOREBOARD========
.k-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.253);
    // opacity: 0;
    &__box {
        min-height: 32rem;
        min-width: 30rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        // background-color: $color-bg-modals !important;
        &--profile {
            overflow: unset;
        }
    }
    &__btnsGroup {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        gap: 1rem;
    }
}

.k-table {
    flex-grow: 1;
}

.k-leafIcon {
    @include box(1.6rem);
    background: center / contain no-repeat url("./svg/leaf-erable.svg");
}

.k-treeIcon {
    @include box(1.6rem);
    background: center / contain no-repeat url("./svg/tree-k.svg");
}
.k-searchIcon {
    @include box(1rem);
    background: center / contain no-repeat url("./svg/search.svg");
}

.k-titleScore {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

// ================== AVATAR =============== //

.k-avatar {
    display: flex;
    justify-content: center;
    margin: 2rem;
    &__content {
        @include box(8rem);
        border-radius: $radius-circle;
        box-shadow: $box-shabow;
    }
}

// ================== COLOR PICKER =============== //

.k-colorPicker {
    display: flex;
    gap: 1rem;
    &__selectedContainer {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: $box-shabow;
        border-radius: 4px;
        position: relative;
        padding: 5px;
        margin-bottom: 1.2rem;
    }
    &__select {
        width: 2.4rem;
        height: 2rem;
        &:hover {
            position: relative;
            z-index: 2;
            outline: 2px solid #fff;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
        }
    }
}