
#leafletContainer { 
    width: 100%; 
    height: 94vh;
    z-index: 2;
}

.container-fullscreen{
    width: 100%;
    height: 100vh;
}
.k-modal__box__log {
    min-height: 0 !important;
    max-height: auto !important;
    min-width: 0 !important;
    max-width: auto !important;
}
p.btn_sg {
    font-size: 11px !important;
}
.toplg {
    color: white;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace;
}
.topbarlg {
    z-index: 10000 !important;
}