// ======Mixins Kev========

@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

// ======style 4 scoreboard========

.k-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    // opacity: 0;
    &__box {
        min-height: 445px;
        min-width: 445px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    &__btnsGroup {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        gap: 1rem;
    }
}


// .k-btnClose {
//     justify-content: flex-end;
//     align-self: flex-end;
// }

.k-table{
  flex-grow: 1;
}

.k-leafIcon {
    @include box(1.6rem);
    background: center / contain no-repeat url("./svg/leaf-erable.svg");
}

.k-treeIcon {
    @include box(1.6rem);
    background: center / contain no-repeat url("./svg/tree-k.svg");
}
.k-searchIcon {
    @include box(1rem);
    background: center / contain no-repeat url("./svg/search.svg");
}

.k-titleScore {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}
